/* .square
{
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: inline-block;
    text-align: center;
    background: #fff;
    border: 1px solid #999;
    padding: 0;
    margin-right: -1px;
    margin-top: -1px;
}
.ColCustom{
    float: left;
}
.board-row{
    overflow:auto;
    white-space:nowrap;       
} */
.board-row:after {
    clear: both;
    content: "";
    display: table;
    overflow:auto;
    white-space:nowrap; 
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
.ColCustom{
    height: 2rem;
}
.HightLights{
    color: red;
  }